<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetterBlync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BetterBlync.Properties.Settings>
            <setting name="Color_IncomingCall" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Color_IncomingIM" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Color_Available" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Color_Busy" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Color_Away" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Color_DoNotDisturb" serializeAs="String">
                <value>Magenta</value>
            </setting>
        </BetterBlync.Properties.Settings>
    </userSettings>
</configuration>